@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'Luna';
    src: url(../fontes/Luna.ttf);
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(../fontes/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Lobster', Geneva, sans-serif;
    --fonte3: 'Luna', Geneva, sans-serif;
    --fonte4: 'IBM Plex Mono', Geneva, sans-serif;
    --cor1: #363030;
    --cor2: #7A4A12;
    --cor: #5e5959;
    --cor4: #B57625;
    
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
   }

body {
    background-color: black;
    font-family: "IBM Plex Mono", monospace;

}

header {
    /*background-color: tomato;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparent;*/
    background-color: black;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    
}


.logo {
    width: 100px;
    height: 100px;
    margin: 0;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration:.5s;
}

a:hover{
    background-color: var(--cor2);
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

nav > a:hover {
    background-color: gray;
    color: white;
}


h1.span {
    font-family: "Luna", sans-serif;
    font-size: 1em;
    color: var(--cor4);
    text-align: center;
}

h1 {
    text-align: center;
    color: var(--cor2);
    font-size: 2rem;
    line-height: 2em;
    
}

h1.principal {
    text-align: center;
    margin: 13px;
}

h2 {
    font-family: var(--fonte4);
    margin: 20px;
    text-decoration: underline;
}

h2.escolha {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 1rem;
    margin: 20px;
    text-shadow: rgba(0, 0, 0, 0.247) 1px 1px 1px;
    
}

p.escolha {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

main {
    background-color:black;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    margin-bottom: 30px;
    
    
}

section {
    background-color: white;
    padding-top: 05vh;
    padding-bottom: 05vh;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte4);
    font-size: 3.5vh;
    font-weight: 600;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 10px;
    border: solid 2px var(--cor4);
}

section.destaque {
    border-radius: 30px;
}

.container {
    display: flex;
    align-items: center;
}

img.main {
    max-width: 200px, ;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 50px;
}

.eco {
    color: green;
}

.voltar {
    color: white;
    margin: 30px;
    
}

p.quemsomos {
    font-family: var(--fonte4);
    color: black;
    text-decoration: none;
    font-size: 1em;
    text-align: justify;
    margin: 30px;
}

section.paginas {
    margin: 30px;
    min-width: 300px;
    max-width: 1200px;
}

